$color-green: #15e4b0;
$color-lighter-green: #4ac5a6;
$color-light-green: #77c9b6;
$color-white: #fff;
$color-black: #1b1b1b;
$color-gray: #7B8898;
$color-light-gray: #D3DBE4;
$color-lighter-gray: #F4F6F8;